*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "Segoe UI",sans-serif;
}

body{
    background:linear-gradient(180deg,#050816,#000);
    color:white;
    overflow:hidden;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.container{
    text-align:center;
    z-index:2;
    animation:fade 2s;
}

.heart{
    font-size:80px;
    animation:beat 1s infinite;
}

h2{
    margin:25px 0;
    font-size:35px;
    font-weight:300;
}

button{
    padding:18px 45px;
    border:none;
    border-radius:40px;
    background:#ff2d55;
    color:white;
    font-size:22px;
    cursor:pointer;
    transition:.3s;
    box-shadow:0 0 30px rgba(255,45,85,.5);
}

button:hover{
    transform:scale(1.08);
    box-shadow:0 0 60px rgba(255,45,85,.9);
}

@keyframes beat{
    0%{transform:scale(1);}
    50%{transform:scale(1.2);}
    100%{transform:scale(1);}
}

@keyframes fade{
    from{
        opacity:0;
        transform:translateY(30px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}

/* Nền sao */
body::before{
    content:"";
    position:fixed;
    inset:0;
    background-image:
        radial-gradient(white 1px, transparent 1px),
        radial-gradient(white 1px, transparent 1px);
    background-size:80px 80px,120px 120px;
    background-position:0 0,40px 40px;
    opacity:.35;
    animation:starsMove 40s linear infinite;
}

@keyframes starsMove{
    from{transform:translateY(0);}
    to{transform:translateY(80px);}
}
